@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

* { 
    box-sizing:border-box;
    margin:0;
    padding:0;
}

/* Declaring variables */
:root {
    --background: #f9feff;
    --light: #f5fafb;
    --middle: #f0f4f9;
    --dark: #9497a1;
    --primary: #5c58d8;
    --secondary: #fff8c0;
    --white: #f4f2ee; 
    --black: #2a2a32;

    --dm-background: #26263b;
    --dm-light: #4b4d5e;
    --dm-middle: #3e4050;
    --dm-dark: #e6dfca;
    --dm-primary: #081127;
    --dm-secondary: #e0e2e9;
}

html { /*for sticky footer*/
    position: relative;
    min-height: 100%;
}

body {
    color: var(--black);
    margin: 0 0 175px; /* bottom = footer height */
    font-family:'Poppins',sans-serif;
}

a {
    color: var(--primary);
}

nav ul li a:hover {
    color: var(--primary);
    opacity:0.6;
}

.body-bg {
    background-color: var(--background);
}

.light-bg {
    background-color: var(--light);
    color:var(--black);
}

.middle-bg {
    background-color: var(--middle);
    color:var(--black);
}

.dark-bg {
    background-color: var(--dark);
    color:var(--white);
}

.white-bg {
    background-color: var(--white);
    color:var(--black);
}

.black-bg {
    background-color: var(--black);
    color:var(--white);
}

.primary-bg {
    background-color: var(--primary);
    color:var(--white);
}

.secondary-bg {
    background-color: var(--secondary);
    color:var(--black);
}

.dark-color {
    color: var(--dark);
}

.white-text {
    color: var(--white);
}

.wrapper {
    width:70vw;
    margin:auto;
}

/* Main Section */
.main {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height:fit-content;
}

.primary-btn:hover{
    background-color: #221f72;
    color: var(--white);
}

.secondary-btn:hover {
    background-color:#ecdd6d;
}

.name {
    text-align:center;
    border-radius:5px;
    padding: 10px 20px;

}

.name span {
    font-weight:bold;
    font-size:1.5rem;
}

.image {
    height:90%;
    text-align:center;
    border-radius:5px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.image img {
    max-width:70%;
    height:70%;
}

.typing {
    font-size:1.2rem;
    padding:10px;
    border-radius:5px;
    text-align:center;
    height:10%;
}

.type-1, .type-2 { 
    background-color: grey;
    text-shadow: 2px 2px #00000057;
    font-weight:bold;
    color: var(--white);
    width:fit-content;
    height:fit-content;
    padding:5px 10px;
    border-radius:5px;
    display:inline-block;
}

.ability-list {
    padding:10px;
    border-radius:5px;
    text-align:center;
    height:30%;
}

.list { 
    height:90px;
}

.abilities {
    border-radius:5px;
    border: var(--black) 1px solid;
    padding:5px 10px;
    font-size:1.1rem;
}

.bst {
    padding:10px;
    border-radius:5px;
    text-align:center;
    height:70%;
}

.bst .progress {
    margin-bottom:5px;
}

.pokerole {
    font-size:1.5rem;
}

.abilities, .type-1, .type-2, #pkmn-name, #pokemon-name, .abt-title {
    text-transform:capitalize;
}

#pkmn-name, .type-1, .type-2, .ability-title, .bst-title, .navbar-brand, .abt-title {
    font-family:"unbounded", sans-serif;
    text-transform:uppercase;
    font-weight:400;
}

/* Base Stat Total Colors */
#hp {
    background: #fa7676;
    color: var(--black);
}

#attack { 
    background: #f3aa88;
    color: var(--black);
}

#defense { 
    background: #ffeea0;
    color: var(--black);
}

#spatk {
    background:#7b7bff;
    color: var(--black);
}

#spdef {
    background:#85c985;
    color: var(--black);
}

#speed {
    background:#f1afba;
    color: var(--black);
}

/* Dark mode Switch color */

.form-switch .form-check-input:focus {
    border-color: rgba(0, 0, 0, 0.25);
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
}
.form-switch .form-check-input:checked {
    background-color: var(--primary);
    border-color: var(--primary);
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

/* About page */
.about {
    height:100%;
    text-align:center;
    padding:10px;
    border-radius:5px;
}

.faq {
    height:100%;
    text-align:center;
    padding:10px;
    border-radius:5px;
}

.link-btn {
    width:25%;
}


/* Footer */
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 150px;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    text-align:center;
    padding:25px;
}

.disclaimer {
    font-size:0.7rem;
    opacity:0.8;
}

/* Dark Mode */
.dark-body {
    background-color: var(--dm-background) !important;
}

.dark-middle {
    background-color: var(--dm-middle);
    color:var(--white);
}

.dark-light {
    background-color: var(--dm-light);
    color:var(--white);
}

.dark-primary {
    background-color: var(--dm-primary);
    color:var(--white);
}

.dark-secondary {
    background-color: var(--dm-secondary);
    color:var(--white);
}

.dark-border-bottom {
    border-bottom: 1px solid var(--black);
}

.dm-link {
    color: var(--secondary);
}

.dm-link:hover {
    color: var(--secondary);
    opacity:0.6;
}

.dm-primary-btn {
    color: var(--dm-secondary);
}

.dm-primary-btn:hover{
    background-color: var(--dm-secondary);
    color: var(--dm-primary);
    opacity:1;
}

.dm-secondary-btn{
    color:var(--dm-primary)
}

.dm-secondary-btn:hover {
    background-color:var(--dm-primary);
    color: var(--dm-secondary);
}

.opacity {
    opacity:0.7;
}

.opacity:hover {
    opacity: 1;
    color:#F8F9FA
}

.active-link { 
    opacity:1;
}

.dm-text {
    color: var(--dm-secondary);
}

.dm-border {
    border: var(--dark) 1px solid;
}

.hover-light:hover {
    color: var(--white);
}

/* Media queries */
@media (max-width:769px){

    body {
        margin: 0 0 225px; /* bottom = footer height */
    }
    .wrapper {
        width: 90vw;
    }

    .abilities {
        font-size:0.8rem;
    }

    #search-button, #random-button, .progress-bar {
        font-size:0.6rem;
    }

    .image img {
        height:auto;
        width:90%;
        padding-bottom:20px;
    }

    .image {
        height:80%; 
    }

    .typing {
        height:20%;
        padding-top:20px;
    }

    .type-1, .type-2 {
        font-size: 1rem;
    }

    .link-btn {
        width:100%;
    }

    .footer p {
        font-size:0.7rem;
    }
    .disclaimer {
        font-size:0.6rem;
    }
    .footer {
        height:200px;
    }


}
